@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,900|Rubik:400,500,700");

/*============Common CSS Start===============*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em,
ol,
ul,
li,
a {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: 5px auto transparent;
}

img {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

body {
    overflow-x: hidden;
}

.heading-font {
    font-family: "Playfair Display", sans-serif;
}

.common {
    padding-top: 98px;
}

.section-head h2 {
    padding-bottom: 50px;
    font-size: 32px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 900;
}

/*============Common CSS End===============*/

/*=============Preloader Part CSS Start===================*/

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999999999;
}

.preloader .animation-circle-inverse > span {
    background: rgba(255, 109, 121, 1);
    bottom: 0;
    position: absolute;
    top: 50%;
    left: 48%;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%), scale(1.3);
    transform: scale(1.3);
    opacity: 0.4;
    -webkit-animation: circleWater 3s linear infinite;
    animation: circleWater 3s linear infinite;
}

/*=============Preloader Part CSS End===================*/

/*===============Navbar Part CSS Start===============*/
.navcss {
    position: fixed;
    width: 100%;
    background: #ff6e79;
    height: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all ease 0.6s;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.logo_container {
    position: relative;
}

.logo_container img {
    position: absolute;
    content: "";
    z-index: 9;
    top: 30px;
}

header nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 170px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

header nav ul li {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
}

header nav ul li a {
    display: block;
    font-size: 24px;
    text-decoration: none;
    padding: 10px 0;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: #ff4553;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-transform: capitalize;
}

header nav ul li a:hover {
    color: #666;
}

.toggle-btn {
    display: block;
    position: fixed;
    z-index: 9999;
    right: 10%;
    top: 13px;
    cursor: pointer;
    height: 66px;
    width: 66px;
    background-color: #fff;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    padding: 22px;
    box-shadow: 0px 1px 30px 0px rgba(240, 84, 86, 0.3);
    -webkit-box-shadow: 0px 1px 30px 0px rgba(240, 84, 86, 0.3);
    -moz-box-shadow: 0px 1px 30px 0px rgba(240, 84, 86, 0.3);
    -o-box-shadow: 0px 1px 30px 0px rgba(240, 84, 86, 0.3);
}

.toggle-btn .bar {
    width: 18px;
    height: 3px;
    margin: 2px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4553;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.toggle-btn .bar:nth-child(2) {
    top: 27px;
}

.toggle-btn .bar:nth-child(3) {
    top: 32px;
}

.toggle-btn .bar:nth-child(4) {
    top: 37px;
}

#toggle:checked ~ nav {
    opacity: 1;
    visibility: visible;
}

#toggle:checked ~ nav ul {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#toggle:checked ~ nav ul li {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

#toggle:checked ~ nav ul li:nth-child(1) {
    -webkit-transition: all 0.7s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
    transition: all 0.7s cubic-bezier(0.2, 0, 0, 1.5) 0.3s;
}

#toggle:checked ~ nav ul li:nth-child(2) {
    -webkit-transition: all 0.7s cubic-bezier(0.6, 0, 0.8, 1.5) 0.37s;
    transition: all 0.7s cubic-bezier(0.2, 0, 0, 1.5) 0.37s;
}

#toggle:checked ~ nav ul li:nth-child(3) {
    -webkit-transition: all 0.7s cubic-bezier(0.6, 0, 0.8, 1.5) 0.42s;
    transition: all 0.7s cubic-bezier(0.2, 0, 0, 1.5) 0.42s;
}

#toggle:checked ~ nav ul li:nth-child(4) {
    -webkit-transition: all 0.7s cubic-bezier(0.6, 0, 0.8, 1.5) 0.53s;
    transition: all 0.7s cubic-bezier(0.2, 0, 0, 1.5) 0.53s;
}

#toggle:checked ~ nav ul li:nth-child(5) {
    -webkit-transition: all 0.7s cubic-bezier(0.6, 0, 0.8, 1.5) 0.63s;
    transition: all 0.7s cubic-bezier(0.2, 0, 0, 1.5) 0.63s;
}

#toggle:checked ~ nav ul li:nth-child(6) {
    -webkit-transition: all 0.7s cubic-bezier(0.6, 0, 0.8, 1.5) 0.73s;
    transition: all 0.7s cubic-bezier(0.2, 0, 0, 1.5) 0.73s;
}

#toggle:checked + label.toggle-btn .bar {
    background-color: red;
}

#toggle:checked + label.toggle-btn .bar:nth-child(2),
#toggle:checked + label.toggle-btn .bar:nth-child(4) {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
}

#toggle:checked + label.toggle-btn .bar:nth-child(1) {
    -webkit-transform: translate(-47%, 9px) rotate(42deg);
    transform: translate(-47%, 9px) rotate(42deg);
}

#toggle:checked + label.toggle-btn .bar:nth-child(3) {
    -webkit-transform: translate(-47%, -1px) rotate(-42deg);
    transform: translate(-47%, -1px) rotate(-42deg);
}

/* =============Navbar Part CSS End============= */

/* ===============Banner Part CSS Start=========== */

.banner {
    background: url(../images/banner-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 93vh;
    position: relative;
    z-index: 0;
}

.banner-l {
    position: absolute;
    content: "";
    width: 600px;
    top: 60%;
    transform: translateY(-50%);
}

.banner-text {
    text-align: left;
}

.banner-text h3 {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    color: #ff4553;
    z-index: 99;
    text-transform: capitalize;
}

.banner-text p {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #444444;
    z-index: 99;
}

.banner-text h1 {
    font-size: 60px;
    word-spacing: 5px;
    color: #222;
    font-weight: 900;
    padding: 10px 0 16px;
    z-index: 99;
    text-transform: capitalize;
}

.banner-btn {
    margin-top: 45px;
}

.banner-btn a {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 2px;
    vertical-align: top;
    text-align: center;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    padding: 13px 32px;
    border-radius: 35px;
    -webkit-transition: all ease 0.7s;
    -moz-transition: all ease 0.7s;
    -o-transition: all ease 0.7s;
    transition: all ease 0.7s;
    background: #ff4553;
}

.banner-btn a:hover {
    box-shadow: 0px 13px 20px 0px rgba(240, 84, 86, 0.5);
    -webkit-box-shadow: 0px 13px 20px 0px rgba(240, 84, 86, 0.5);
    -moz-box-shadow: 0px 13px 20px 0px rgba(240, 84, 86, 0.5);
    -o-box-shadow: 0px 13px 20px 0px rgba(240, 84, 86, 0.5);
}

.banner-yoga {
    position: absolute;
    content: "";
    width: 33%;
    right: 16%;
    top: 49%;
    transform: translateY(-50%);
}

.banner-block img {
    z-index: 999;
    padding-top: 34%;
    width: 90%;
}

.banner-block .animation-circle-inverse.left {
    top: 400px;
    left: 36%;
}

.banner-block .animation-circle-inverse {
    position: absolute;
    z-index: -1;
}

.banner-block .animation-circle-inverse > span {
    width: 80px;
    height: 80px;
}

.animation-circle-inverse > span {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.3;
    -webkit-animation: circleWater 3s linear infinite;
    animation: circleWater 3s linear infinite;
}

/*==============================
     Banner Part CSS End
================================*/

/*================= 
  Why choose us Part CSS Start
================*/

#about {
    padding-top: 65px;
    padding-bottom: 30px;
    position: relative;
}

.about-inner {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding: 40px 25px 30px;
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.07);
    -o-box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
}

.about-inner:after {
    position: absolute;
    content: "";
    border: 13px solid #ff8b94;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    top: -50px;
    left: -43px;
    -webkit-animation: circlesrink 4s linear infinite;
    animation: circlesrink 4s linear infinite;
}

@-webkit-keyframes circlesrink {
    0% {
        -webkit-transform: translate(0px, -10px);
        transform: translate(0px, -10px);
        opacity: 1;
    }

    50% {
        -webkit-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: translate(0px, -10px);
        transform: translate(0px, -10px);
        opacity: 1;
    }
}

@keyframes circlesrink {
    0% {
        -webkit-transform: translate(0px, -10px);
        transform: translate(0px, -10px);
        opacity: 1;
    }

    50% {
        -webkit-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: translate(0px, -10px);
        transform: translate(0px, -10px);
        opacity: 1;
    }
}

.about-inner:hover {
    transform: translate(0px, -10px);
    transition: all ease 0.6s;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
}

.about-inner i {
    color: #270872;
    border-radius: 4px;
    background: #e1d5ff;
    padding: 30px 20px 20px;
}

.about-inner [class^="flaticon-"]:before,
.about-inner [class*=" flaticon-"]:before,
.about-inner [class^="flaticon-"]:after,
.about-inner [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 30px;
    font-style: 400;
    margin-left: 0px;
}

.about-inner h4 {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 40px 0 16px;
}

.about-inner p {
    font-weight: 400;
    font-size: 16px;
    color: #444;
    font-family: "Rubik", sans-serif;
    letter-spacing: 1px;
}

/*=====================================
 About Us css
======================================*/
.next-level {
    background: #fafafa;
    margin-top: 35px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.next-block {
    position: relative;
    z-index: 99;
}

.next-block img {
    z-index: 99;
}

.next-block .animation-circle-inverse.left {
    top: 210px;
    right: 58%;
}

.next-block .animation-circle-inverse {
    position: absolute;
    z-index: -1;
}

.next-block .animation-circle-inverse > span {
    background: rgba(255, 109, 121, 1);
    bottom: 0;
    position: absolute;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.4;
    -webkit-animation: circleWater 3s linear infinite;
    animation: circleWater 3s linear infinite;
}

.level-detail h3 {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    padding-top: 30px;
    color: #222;
    z-index: 99;
    text-transform: capitalize;
}

.level-detail h1 {
    padding: 30px 0 20px;
    line-height: 44px;
    font-size: 32px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 900;
}

.level-detail p {
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #444;
    font-family: "Rubik", sans-serif;
    letter-spacing: 1px;
}

/* =====================================
 About Us end 
======================================= */
/*============About Part CSS End==============*/

/*==============Footer Part CSS Start=============*/

.footer {
    background: #f5f5f5;
    position: relative;
    padding-top: 100px;
    margin-top: -70px;
    padding-bottom: 16px;
}

.footer-menu ul {
    float: right;
}

.footer-menu ul li {
    float: left;
    margin-right: 10px;
}

.footer-menu ul li i {
    font-size: 16px;
    color: #ffffff;
    background: #ff4553;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
    transition: all linear 0.6s;
    -webkit-transition: all linear 0.6s;
    -moz-transition: all linear 0.6s;
    -ms-transition: all linear 0.6s;
    -o-transition: all linear 0.6s;
}

.footer-menu li:hover i {
    color: #ff4553;
    background: #fff;
    box-shadow: 0px 13px 30px 0px rgba(240, 84, 86, 0.5);
    -webkit-box-shadow: 0px 13px 30px 0px rgba(240, 84, 86, 0.5);
    -moz-box-shadow: 0px 13px 30px 0px rgba(240, 84, 86, 0.5);
    -o-box-shadow: 0px 13px 30px 0px rgba(240, 84, 86, 0.5);
    transition: all linear 0.6s;
    -webkit-transition: all linear 0.6s;
    -moz-transition: all linear 0.6s;
    -ms-transition: all linear 0.6s;
    -o-transition: all linear 0.6s;
}

.footer-text p {
    padding-top: 6px;
}

/*==============Footer Part CSS End==============*/

/* ==========  Animation ================*/

.animation-circle-inverse > span:nth-child(2) {
    -webkit-animation: circleWater2 3s linear infinite;
    animation: circleWater2 3s linear infinite;
}

.animation-circle-inverse > span:nth-child(3) {
    -webkit-animation: circleWater3 3s linear infinite;
    animation: circleWater3 3s linear infinite;
}

.animation-circle-inverse > span:nth-child(4) {
    -webkit-animation: circleWater1 3s linear infinite;
    animation: circleWater1 3s linear infinite;
}

@-webkit-keyframes circleWater {
    0% {
        -webkit-transform: scale(5.5);
        transform: scale(5.5);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(8.5);
        transform: scale(8.5);
        opacity: 0;
    }
}

@keyframes circleWater {
    0% {
        -webkit-transform: scale(5.5);
        transform: scale(5.5);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(8.5);
        transform: scale(8.5);
        opacity: 0;
    }
}

@-webkit-keyframes circleWater2 {
    0% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
    }

    100% {
        -webkit-transform: scale(5.5);
        transform: scale(5.5);
    }
}

@keyframes circleWater2 {
    0% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
    }

    100% {
        -webkit-transform: scale(5.5);
        transform: scale(5.5);
    }
}

@-webkit-keyframes circleWater3 {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
    }
}

@keyframes circleWater3 {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
    }
}

/* =========== Jump ========== */
@keyframes jump {
    20% {
        margin-top: 10px;
    }

    30% {
        margin-bottom: 30px;
    }

    60% {
        margin-bottom: 0px;
    }

    100% {
        margin-top: 0px;
    }
}